# this is .gitignore file
.log
.env
.csv

# ignore all files in 'organized' folder
organized_ebooks/*
# ignore all files in 'unorganized' folder
unorganized_ebooks/*

# ignore __pycache__ directories
__pycache__/
# ignore .vscode directories
.vscode/